<%= content_for :back_link, document_path(@document) %>
<% content_for :title, t("document_associations.edit.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= t("document_associations.edit.description") %></p>
  </div>
</div>
<%= form_tag(document_associations_path(@document)) do %>

<% @document.document_type_schema.associations.each do |schema| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "document_associations/associations/#{schema.type}_input",
        schema: schema,
        associations: @document["associations"],
        contextual_guidance_id: "#{schema.id}-guidance" %>
    </div>
    <% if @document.document_type_schema.guidance_for(schema.id) %>
    <div class="govuk-grid-column-one-third">
      <%= render "components/contextual_guidance", {
        id: "#{schema.id}-guidance",
        title: @document.document_type_schema.guidance_for(schema.id).title
      } do %>
        <p class="govuk-body"><%= @document.document_type_schema.guidance_for(schema.id).body %></p>
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Save", margin_bottom: true
  } %>
<% end %>
